[build]
  base = "frontend"
  command = "npm run build"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  NPM_VERSION = "9"

# Production context
[context.production]
  environment = { REACT_APP_API_URL = "https://remart-backend.onrender.com" }

# Deploy Preview context
[context.deploy-preview]
  environment = { REACT_APP_API_URL = "https://remart-backend.onrender.com" }

# Branch deploy context
[context.branch-deploy]
  environment = { REACT_APP_API_URL = "https://remart-backend.onrender.com" }









